html{
    font-size: 62.5%;
}
.c0{
    background-color: yellow;
    padding-top: 30%;
    width: 30%;
    border-radius: 15%;
    float:left;
    margin: 1.25%;
}
.c1{
    clear:left;
}
.clear{
    clear: both;
}
.c2{
    width:10%;
    background-color: red;
    padding-top: 0.250%;
    padding-left: 0.250%;
    padding-bottom: 0.250%;
    float:left ;
}
.bt{
    padding-top: 2.5%;
    width:79.5%;
    float:left ;
    text-align: center;
    font-size: 5rem;
    background-color: #ffe426;
}
body{
    margin: 0;
}


