h1{
    color: cyan;
}
h1 one{
    color: #3d1a36;
}
#yuanliang{
    color: green;
}
.red{
    color: red;
}
#div1{
    float: right;
    height: 50px;
    width: 50px;
    background-color: red;
}
#div2{
    float: left;
    clear: both;
    height: 100px;
    width: 50px;
    background-color: yellow;
}
#div3{

    height: 500px;
    width: 50px;
    background-color: blue;
}